<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
 
 {{!-- Link to bootstrap --}}
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
{{!-- Link to css --}}
 <link rel="stylesheet" href="/public/assets/css/burger_style.css"> 
    <title>EAT DA BURGER</title>
</head>
<body>
    {{!-- a body in a body  --}}
    {{{body}}}

    <!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://github.com/Reylim15/Eat-Da-Burger-"> ReyLim15 Gihtub</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

</body>
</html>