<h1>DEVOUR IT!</h1>

<div class="container">
   {{#each burgers}}
          {{#unless this.devoured}}
            <div>
              <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
                <button type="submit" class='burgerAvailable'> {{this.burger_name}}</button>
              </form>
            </div>
          {{/unless}}
        {{/each}}

<h2>You eated de boiguhr.</h2>

  {{#each burgers}}
          {{#if this.devoured}}
            <div class='burgerEaten'>
              <div>
                {{this.burger_name}}
              </div>
            </div>
          {{/if}}
        {{/each}}

</div>



<h2>Add BURGER</h2>




  <div class="form-group">
    <label for="ca">LE BURGER:</label>
    <input type="text" id="ca" name="name">
  </div>
  <button type="submit">Add BURGER</button>
</form>
