
<div class="webname text-center">
<h1>MENU!</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col m6 text-center">
      <h2>Burger Wallet</h2>

   {{#each burgers}}
          {{#unless this.devoured}}
            <div>
              <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
                <button type="submit" class='burgerAvailable'> {{this.burger_name}}</button>
              </form>
            </div>
          {{/unless}}
        {{/each}}
</div>

<div class="col m6 text-center">
<h2>Devoured Burgers</h2>

  {{#each burgers}}
          {{#if this.devoured}}
            <div class='burgerEaten'>
              <div>
                {{this.burger_name}}
              </div>
            </div>
          {{/if}}
        {{/each}}
  </div>
</div>
</div>

<div class="container">
<div class="row">
<div class="col m12 text-center">

<h2>Add BURGER</h2>
  <div class="form-group">
    <label for="ca">LE BURGER:</label>
    <input type="text" id="ca" name="name">
  </div>
  <button type="submit">Add BURGER</button>
</form>

</div>
</div>
</div>